
* {
  padding: 0;
  margin: 0;
}
body,
html {
  height: 100%;
  font-family: "Micorsoft Yahei", "HYe1gj", "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
li,
ul {
  list-style: none;
}
 {
  font-family: "Micorsoft Yahei", "HYe1gj", "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
